---
title: Welcome!
---
<p>
Congratulations adventurer!
Your quest is at an end, for you have reached the home of <b><i>NetHack</i></b>.
Here, the Wizard of Yendor has no power, the Oracle speaks with utmost clarity. and the grid bugs do not bite.
</p>

<hr>

<h2>Latest from the NetHack Blog</h2>

{% for post in site.posts limit: 1 %}
    {% include blog-post.html h='h3' excerpt=true %}
{% endfor %}

<p>
Find out more at the <a href="{{ site.baseurl }}/blog/">NetHack blog</a>!
</p>

<hr>

<h2>Download NetHack {{ site.data.versions[0].version }}</h2>

<p>
Play the latest version of NetHack on <b>Windows</b>, <b>OS X</b>, <b>Linux</b> and many other platforms!
</p>

{% assign latest_version = site.data.versions[0] %}
{% include version-date.html version=latest_version %}

<p>
... or find out <a href="{{ site.baseurl }}/how-to-play-online.html">how to play and watch others play online</a>!
</p>

<hr>

<h2>What is NetHack?</h2>

<p>
NetHack is a single player dungeon exploration roguelike game with randomly generated levels.
Click here to find out more <a href="{{ site.baseurl }}/about.html">about NetHack</a>.
</p>

<h2>What does NetHack look like?</h2>

{% include screenshot.html file='v343/shop-tiles-win7.png' %}

<p>
Check out more screenshots on <a href="{{ site.baseurl }}/screenshots.html">our screenshots page</a>!
</p>

<h2>What do people say about NetHack?</h2>

{% for quote in site.data.quotes limit: 1 %}
    {% include quote.html %}
{% endfor %}

<p>
Find what others have said about NetHack at <a href="{{ site.baseurl }}/references.html">our collection of references</a>!
</p>
