---
title: Screenshots
---
<h2>NetHack 3.4.3</h2>
{% include screenshot.html file='v343/shop-tiles-win7.png' %}
{% include screenshot.html file='v343/tty-consolas-win7.png' %}
{% include screenshot.html file='v343/winxp.png' %}
{% include screenshot.html file='v343/os-x-carbon.png' %}
{% include screenshot.html file='v343/x11.png' %}
{% include screenshot.html file='v343/curses.png' %}
{% include screenshot.html file='v343/sokoban-qt-netbsd.png' %}
{% include screenshot.html file='v343/tiles-dos.png' %}
