<div>
    <h2>Community</h2>
    <ul>
        <li><a href="{{ site.forums_url }}" title="https://forums.nethack.org/">NetHack Forums</a></li>
        <li><a href="http://bilious.alt.org/rgrn/" title="rec.games.roguelike.nethack on Usenet">R.G.R.N</a></li>
        <li><a href="http://nethackwiki.com/wiki/Main_Page">NetHack Wiki</a></li>
        <li><a href="https://www.reddit.com/r/nethack/">NetHack on Reddit</a></li>
        <li><a href="http://nethackwiki.com/wiki/Variant">NetHack Variants</a></li>
        <li><a href="http://nethackwiki.com/wiki/Freenode">IRC Channels</a></li>
        {% include nav-li.html url="/links.html" %}
    </ul>
</div>
