{% assign latest_version = site.data.versions[0] %}
<div>
    <h2>Latest Version: {{ latest_version.version }}</h2>
    <ul>
        {% for version_page in latest_version.sub_nav %}
            {% if version_page contains "http://" or version_page contains "https://" %}
                {% assign version_page_url = version_page %}
            {% else %}
                {% assign version_page_url = "/" | append: latest_version.path | append: "/" | append: version_page %}
            {% endif %}
            {% if site.data.nav[version_page_url] %}
                {% assign version_page_title = site.data.nav[version_page_url] | prepend: " " | prepend: latest_version.version %}
            {% else %}
                {% assign version_page_title = version_page_url %}
            {% endif %}
            {% include nav-li.html url=version_page_url title=version_page_title %}
        {% endfor %}
    </ul>
</div>
