{% if page.is_blog_post %}
    {% assign post_title = page.title %}
    {% assign post_url = page.url %}
    {% assign post_author = page.author %}
    {% assign post_date = page.date %}
    {% assign post_tags = page.tags %}
{% else %}
    {% assign post_title = post.title %}
    {% assign post_url = post.url %}
    {% assign post_author = post.author %}
    {% assign post_date = post.date %}
    {% assign post_tags = post.tags %}
{% endif %}
{% capture post_h %}{% if include.content != true and include.h %}{{ include.h }}{% else %}h2{% endif %}{% endcapture %}
{% capture post_title_full %}{% if page.is_blog_post %}{{ post_title }}{% else %}<a href="{{ site.baseurl }}{{ post_url }}">{{ post_title }}</a>{% endif %}{% endcapture %}
<article class="{% if include.excerpt %}post-excerpt{% else %}post{% endif %}">
    <{{ post_h }} class="post-title">{{ post_title_full }}</{{ post_h }}>
    <div class="post-meta">
        Posted by <a class="post-author" href="{{ site.baseurl }}/blog/authors/{{ post_author }}.html">{{ post_author }}</a>
        on <a class="post-date" href="{{ site.baseurl }}{{ post_url }}" title="permalink">{{ post_date | date: "%B %-d, %Y" }}</a>
        {% for tag in post_tags %}
            {% if forloop.first %}
                under
            {% endif %}
            <a class="post-tag" href="{{ site.baseurl }}/blog/tags/{{ tag }}.html">{{ tag }}</a>{% if forloop.last %}.{% else %}, {% endif %}
        {% endfor %}
    </div>
    {% if include.content %}
        <div class="post-content">
            {% if page.is_blog_post %}
                {{ content }}
            {% else %}
                {{ post.content }}
            {% endif %}
        </div>
    {% elsif include.excerpt %}
        <div class="post-content">
            {{ post.excerpt }}
            <p>...</p>
        </div>
    {% endif %}
</article>
