<footer>
    <p id="hosted-by">Hosted by <a href="https://github.com">GitHub</a>.</p>
    <p>
        NetHack is copyright &copy; 1985-2003 by Stichting Mathematisch Centrum and <a href="{{ site.baseurl }}/blog/authors/mstephenson.html">M. Stephenson</a>.
        See <a href="{{ site.baseurl }}/license.html">our license</a> for details.
    </p>
    <p>This website is copyright &copy; 1999-{{ site.time | date: "%Y" }}
    by <a href="{{ site.baseurl }}/blog/authors/keni.html">Kenneth Lorber</a>
    and Tung Nguyen.</p>
</footer>
