<footer>
    <p id="hosted-by">Hosted by <a href="http://sourceforge.net/">SourceForge</a>.</p>
    <p>
        NetHack is copyright &copy; 1985-2003 by Stichting Mathematisch Centrum and M. Stephenson.
        See <a href="{{ site.baseurl }}/license.html">our license</a> for details.
    </p>
    <p>This website is copyright &copy; 1999-{{ site.time | date: "%Y" }}
    by <a href="{{ site.baseurl }}/blog/authors/keni.html">Kenneth Lorber</a>, Kensington, Maryland,
    and Tung Nguyen.</p>
</footer>
