<header>
    <h1 id="banner"><a href="{{ site.baseurl }}/"><img title="NetHack" alt="NetHack" src="{{ site.baseurl }}/assets/images/nethack-banner.gif"></a></h1>
    <p class="sub-banner">The classic roguelike adventure: Descend the Mazes of Menace and retrieve the Amulet of Yendor!</p>
    <p class="sub-banner" style="background:#c00;color:#fff;padding:2px 0;text-weight:bold;">NOTE: This is a demo website!  Please visit <a href="http://www.nethack.org" style="background:#00f;color:#fff;">www.nethack.org</a> for the real NetHack website.</p>
</header>
