<li>
    {% if include.title %}
        {% assign nav-li-title = include.title %}
    {% elsif site.data.nav[include.url] %}
        {% assign nav-li-title = site.data.nav[include.url] %}
    {% else %}
        {% assign nav-li-title = include.url %}
    {% endif %}
    {% if page.url == include.url %}
        <b>{{ nav-li-title }}</b>
    {% else %}
        {% if include.url contains 'http://' or include.url contains 'https://' %}
            <a href="{{ include.url }}">{{ nav-li-title }}</a>
        {% else %}
            <a href="{{ site.baseurl }}{{ include.url | replace: "index.html" }}">{{ nav-li-title }}</a>
        {% endif %}
    {% endif %}
</li>
