---
---
<!doctype html>
<html>
<head>

<meta charset="utf-8">

{% assign dummy = "||zx||" %}
{% assign dummy_page_path = page.path | prepend: dummy %}
{% for version in site.data.versions %}
    {% assign dummy_version_path = version.path | prepend: dummy %}
    {% if dummy_page_path contains dummy_version_path %}
        {% assign page_version = version %}
        {% break %}
    {% endif %}
{% endfor %}

{% include html-title.html page_version=page_version %}
{% include html-meta.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/styles/default.css">

</head>
<body>
<div id="container">

{% include header.html %}

{% include nav.html %}

<main>
    {% if page.is_blog_page %}
        {% include blog-nav.html %}
    {% elsif page_version %}
        {% include version-nav.html version=page_version %}
    {% endif %}

    {% if page_version %}
        {% include version-date.html version=page_version %}
    {% endif %}

    {% comment %}
        Blog posts include their own headings which have their own titles.
    {% endcomment %}
    {% unless page.is_blog_post %}
        {% include page-title.html page_version=page_version %}
    {% endunless %}

    {{ content }}
</main>

{% include footer.html %}

</div>
</body>
</html>
