---
layout: null
---
body {
    background-image: url("{{ site.baseurl }}/images/papyrus.jpg");
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

a[href="#"], a[href="#TODO"] {
    color: #c00;
}

a[href^="http"]::after {
    content: "*";
    font-size: small;
    vertical-align: top;
}

#version-date {
    padding: 0 1em;
    text-align: center;
}

.version-new {
    background-color: #8f8;
    border: 1px solid #080;
}

.version-old {
    background-color: #f88;
    border: 1px solid #800;
}
