#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

a[href="#"], a[href="#TODO"] {
    color: #c00;
}

a:visited {
    color: #3f1367;
}

header {
    border-bottom: 1px solid #888;
    padding: 1em;
    text-align: center;
}

#banner {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 0;
}

#banner a {
    color: #000;
    text-decoration: none;
}

#banner img {
    height: 87px;
    width: 261px;
}

.sub-banner {
    font-weight: bold;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

nav {
    border-left: 1px solid #888;
    float: right;
    width: 25%;
}

nav h2 {
    border-bottom: 1px solid #476c6c;
    border-left: 21px solid #476c6c;
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding-left: 4px;
}

nav ul {
    margin-bottom: 1.5em;
    margin-left: 0.3em;
    margin-top: 0.5em;
}

nav li {
    margin-top: 0.3em;
}

main {
    border-right: 1px solid #888;
    line-height: 1.5em;
    margin-right: 25%;
    padding-bottom: 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1px;
}

main h1 {
    margin-bottom: 0.8em;
}

pre {
    background-color: #000;
    line-height: 1.5em;
    overflow: auto;
    padding: 0.5em 1em;
}

code {
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    font-weight: bold;
}

pre code {
    font-weight: normal;
    padding: 0;
}

hr {
    border: 0;
    border-top: 1px solid #888;
}

blockquote {
    border-left: 4px solid #888;
    color: #444;
    margin-left: 1em;
    margin-right: 0;
    padding: 0.5em 1em;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

footer {
    border-top: 1px solid #888;
    clear: both;
    color: #000;
    font-size: small;
    margin-bottom: 0;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

footer p {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

#hosted-by {
    float: right;
}

ol#copying-policies li {
    margin-top: 1.5em;
}

#sub-nav {
    padding-left: 0;
    overflow: auto;
    zoom: 1;
}

#sub-nav li {
    border-left: 1px solid #888;
    display: block;
    float: left;
    padding: 0.2em 0.8em 0.3em;
}

#sub-nav li:nth-child(1) {
    color: #444;
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
}

#sub-nav li:nth-child(2) {
    border-left: 0;
}

.post {
    margin-bottom: 2em;
}

.post-title {
    margin-bottom: 0.5em;
}

.post-meta {
    font-size: small;
}

.pagination {
    margin: 2em 0;
    text-align: center;
    width: 100%;
}

.pagination-page {
    margin: 0 2em;
}

span.pagination-older, span.pagination-newer {
    color: #444;
}

.screenshot {
    margin: 1.5em auto;
    max-width: 716px;
    padding-right: 8px;
    text-align: center;
}

.screenshot div {
    background-color: #ddd;
    border: 1px solid #888;
    display: inline-block;
    max-width: 100%;
    padding: 7px;
}

.screenshot img {
    max-width: 100%;
}

.screenshot p {
    color: #333;
    margin: 0;
}
